
# Ecommerce Purchases Exercise

In this Exercise you will be given some Fake Data about some purchases done through Amazon! Just go ahead and follow the directions and try your best to answer the questions and complete the tasks. Feel free to reference the solutions. Most of the tasks can be solved in different ways. For the most part, the questions get progressively harder.

Please excuse anything that doesn't make "Real-World" sense in the dataframe, all the data is fake and made-up.

Also note that all of these questions can be answered with one line of code.
____
** Import pandas and read in the Ecommerce Purchases csv file and set it to a DataFrame called ecom. **

In [2]:
import numpy as np
import pandas as pd

In [3]:
ecom = pd.read_csv(r'Ecommerce Purchases.csv')

**Check the head of the DataFrame.**

In [4]:
ecom.head()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82

** How many rows and columns are there? **

In [5]:
ecom.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Address           10000 non-null  object
 1   Lot               10000 non-null  object
 2   AM or PM          10000 non-null  object
 3   Browser Info      10000 non-null  object
 4   Company           10000 non-null  object
 5   Credit Card       10000 non-null  int64
 6   CC Exp Date       10000 non-null  object
 7   CC Security Code  10000 non-null  int64
 8   CC Provider       10000 non-null  object
 9   Email             10000 non-null  object
 10  Job               10000 non-null  object
 11  IP Address        10000 non-null  object
 12  Language          10000 non-null  object
 13  Purchase Price    10000 non-null  float64
dtypes: float64(1), int64(2), object(11)
memory usage: 1.1+ MB

** What is the average Purchase Price? **

In [6]:
ecom[["Purchase Price"]]

      Purchase Price
0              98.14
1              70.73
2               0.95
3              78.04
4              77.82
...              ...
9995           82.21
9996           25.63
9997           83.98
9998           38.84
9999           67.59

[10000 rows x 1 columns]

In [7]:
ecom["Purchase Price"].mean()

50.34730200000025

** What were the highest and lowest purchase prices? **

In [8]:
ecom["Purchase Price"].max()

99.99

In [9]:
ecom["Purchase Price"].min()

0.0

** How many people have English 'en' as their Language of choice on the website? **

In [10]:
ecom["Language"].value_counts()["en"]

1098

In [11]:
en_group = ecom.groupby("Language")
en_group.count()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Purchase Price
Language,,,,,,,,,,,,,
de,1155,1155,1155,1155,1155,1155,1155,1155,1155,1155,1155,1155,1155
el,1137,1137,1137,1137,1137,1137,1137,1137,1137,1137,1137,1137,1137
en,1098,1098,1098,1098,1098,1098,1098,1098,1098,1098,1098,1098,1098
es,1095,1095,1095,1095,1095,1095,1095,1095,1095,1095,1095,1095,1095
fr,1097,1097,1097,1097,1097,1097,1097,1097,1097,1097,1097,1097,1097
it,1086,1086,1086,1086,1086,1086,1086,1086,1086,1086,1086,1086,1086
pt,1118,1118,1118,1118,1118,1118,1118,1118,1118,1118,1118,1118,1118
ru,1155,1155,1155,1155,1155,1155,1155,1155,1155,1155,1155,1155,1155
zh,1059,1059,1059,1059,1059,1059,1059,1059,1059,1059,1059,1059,1059

In [12]:
en_group.count()["en"] ## seems wrong syntax but don't know what's the correct syntax

KeyError: 'en'

** How many people have the job title of "Lawyer" ? **

In [13]:
ecom["Job"].value_counts()["Lawyer"]

30

** How many people made the purchase during the AM and how many people made the purchase during PM ? **

**(Hint: Check out [value_counts()](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.value_counts.html) ) **

In [14]:
ecom["AM or PM"].value_counts()["AM"]

4932

In [15]:
ecom["AM or PM"].value_counts()["PM"]

5068

** What are the 5 most common Job Titles? **

In [22]:
ecom["Job"].value_counts().head(5)

Interior and spatial designer    31
Lawyer                           30
Social researcher                28
Purchasing manager               27
Designer, jewellery              27
Name: Job, dtype: int64

** Someone made a purchase that came from Lot: "90 WT" , what was the Purchase Price for this transaction? **

In [26]:
#lot_data = ecom["Lot", "Purchase Price"]
#data_rand[data_rand['A'] > 0][['C', 'D']]
ecom[ecom["Lot"] == "90 WT"]["Purchase Price"]
##lot_data = ecom.loc[["90 WT"] , ["Lot", "Purchase Price"]] ## !!!

513    75.1
Name: Purchase Price, dtype: float64

513    75.1
Name: Purchase Price, dtype: float64

** What is the email of the person with the following Credit Card Number: 4926535242672853 **

In [27]:
#ecom[ecom["Lot"] == "90 WT"]["Purchase Price"]
ecom[ecom["Credit Card"] == 4926535242672853]["Email"]

1234    bondellen@williams-garza.com
Name: Email, dtype: object

1234    bondellen@williams-garza.com
Name: Email, dtype: object

** How many people have American Express as their Credit Card Provider *and* made a purchase above $95 ?**

In [32]:
#data_rand[(data_rand['A'] > 0) & (data_rand['B'] > 0)]
ecom[(ecom["Credit Card"] == "American Express") & (ecom["Purchase Price"] > 95)].value_counts()

Series([], dtype: int64)

Address             39
Lot                 39
AM or PM            39
Browser Info        39
Company             39
Credit Card         39
CC Exp Date         39
CC Security Code    39
CC Provider         39
Email               39
Job                 39
IP Address          39
Language            39
Purchase Price      39
dtype: int64

** Hard: How many people have a credit card that expires in 2025? **

In [49]:
#ecom["AM or PM"].value_counts()["PM"]
ecom[["CC Exp Date"]].value_counts() ## not the same value as the solution

CC Exp Date
08/22          108
04/19          105
01/26          105
01/21          104
01/19          103
              ...
07/18           67
11/25           67
10/25           64
08/26           48
08/16           39
Length: 121, dtype: int64

1033

** Hard: What are the top 5 most popular email providers/hosts (e.g. gmail.com, yahoo.com, etc...) **

In [53]:
ecom["Email"].value_counts()
#en_group = ecom.groupby("Email")
#en_group.count()

leekathy@yahoo.com           2
joshua41@hotmail.com         2
christopher29@gmail.com      2
ethomas@hotmail.com          2
brownjohn@hotmail.com        2
                            ..
jamesbarnett@gomez.org       1
hernandezrobert@frank.com    1
lindseywilliams@pratt.com    1
ann28@hotmail.com            1
rachelford@vaughn.com        1
Name: Email, Length: 9954, dtype: int64

hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: Email, dtype: int64

# Great Job!